body{
    min-height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    background-image: url("/.media/Background.png");
    background-repeat: no-repeat;
    background-size: cover;
    <!--align-items: center;-->
 }
 footer{
    margin-top: auto;
    align-self: center;
 }
 #logo{
    margin-top: 0;
    margin-bottom: -5vh;
 }
 #session_info{
    font-family: montserrat, sans-serif;
    font-size: 1.7vh;
    font-weight:900;
}
.page_estructure{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#page_caption{
    color: rgb(39, 39, 39);
    font-family: Reem Kufi Ink;
    font-size: 8vh;
    margin-bottom: -0.5vh;
}
.modal_button{
    border-color: #000000;
    box-shadow: 2px 2px 10px #000000;
    border-radius: 10px;
    margin-top: 3.5vh;
    margin-bottom: 3.5vh;
    background-color: rgb(197, 197, 197);
    width: 25vw;
    height: 12vh;
    text-align: center;
}

.modal_button:hover{
    -webkit-filter: brightness(80%);
    
}
table{
    margin: 0 auto
}
a:visited{
    color: #000000;
}
a:not(#disconnect,#excluir_operador){
    text-decoration: none;
}

.modal{
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(77, 77, 77, .7);
    transition: all .4s;
}

.modal_conteudo{
    border-radius: 20px;
    position: relative;
    width: 55vw;
    height: 70vh;
    background: #fff;
    padding: 1em 2em;
    box-shadow: 2px 2px 20px #000000;
}

.modal:target{
    visibility: visible;
    opacity: 1;
}

.bt_cancelar{
    background-color: #a40c0c;
    width: 9vw;
    height: 6vh;
    border-radius: 5px;
    border-color: #810606;
    color: white;
    font-family: roboto;
    font-weight: 600;
    font-size: 3vh;
    text-align: center;
    vertical-align: middle;
    margin-top: auto;
    cursor: pointer;
    onclick=""
    
}
.bt_cancelar:hover{
    -webkit-filter: brightness(70%);
}

.bt_concluir{
    background-color: #059d3a;
    width: 9vw;
    height: 6vh;
    border-radius: 5px;
    border-color: #04732b;
    color: white;
    font-family: roboto;
    font-weight: 600;
    font-size: 3vh;
    text-align: center;
    vertical-align: middle;
    margin-top: auto;
    cursor: pointer;
    
}
.bt_concluir:hover{
    -webkit-filter: brightness(70%);
}

.modal_screen_options{
    position: absolute;
    right: 4vh;
    bottom:   3vh;
}

.modal_header{
    font-family: Montserrat;
    font-size: 4vh;
    font-weight: bolder;
    margin-top: -0.5vh;
}
#disconnect{
    position: absolute;
    right: 0vh;
    top: 2vh;
}
.name_input{
    width: 29vw;
    height: 3vh;
    font-family: Montserrat, sans-serif;
    font-size: 2.5vh;
}
.identificador_input{
    float: left;
    width: 29vw;
    height: 4vh;
    font-family: Montserrat, sans-serif;
    font-size: 2.5vh;
}
#search_bt{
    cursor: pointer;
    width: 2.3vw;
    height: 4vh;
    justify-content: center;
    display: flex;
}
.natureza_input{
    border-radius: 2px;
    border-style: solid ;
    border-color: #6d6d6d;
    text-align: center;
    width: 15vw;
    height: 3.6vh;
    font-family: Montserrat, sans-serif;
    font-size: 2.5vh;
    background-color: #fff;
}
.birthdate_input{
    text-align: center;
    width: 13vw;
    height: 3.23vh;
    font-family: Montserrat, sans-serif;
    font-size: 2.5vh;
}
.gender_input{
    border-radius: 2px;
    border-style: solid ;
    border-color: #6d6d6d;
    text-align: center;
    width: 15vw;
    height: 3.66vh;
    font-family: Montserrat, sans-serif;
    font-size: 2.5vh;
    background-color: #fff;
}
.cpf_input{
    text-align: left;
    width: 13vw;
    height: 3vh;
    font-family: Montserrat, sans-serif;
    font-size: 2.5vh;
}
.phone_input{
    text-align: left;
    width: 13vw;
    height: 3vh;
    font-family: Montserrat, sans-serif;
    font-size: 2.5vh;
}
.mail_input{
    text-align: left;
    width: 20vw;
    height: 3vh;
    font-family: Montserrat, sans-serif;
    font-size: 2.5vh;
}
.input_label{
    font-size: 2.5vh;
    font-weight: bolder;
    font-family: Roboto;
    margin-bottom: -0.05vh;
    margin-left: 0.5vh;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
.required{
    color: red;
    font-weight: bolder;
}
.fields_inline{
    position: relative;
    display: flex;
}
.birthdate_exhibit{
    text-align: center;
    width: 13vw;
    height: 3.23vh;
    font-family: Montserrat, sans-serif;
    font-size: 2.5vh;
    border: 1px solid rgb(0, 0, 0);
}
.gender_exhibit{
    text-align: center;
    width: 13vw;
    height: 3.23vh;
    font-family: Montserrat, sans-serif;
    font-size: 2.5vh;
    border: 1px solid rgb(0, 0, 0);
}
.cpf_exhibit{
    text-align: center;
    width: 13vw;
    height: 3.23vh;
    font-family: Montserrat, sans-serif;
    font-size: 2.5vh;
    border: 1px solid rgb(0, 0, 0);
}
.matricula_exhibit{
    text-align: center;
    width: 13vw;
    height: 3.23vh;
    font-family: Montserrat, sans-serif;
    font-size: 2.5vh;
    border: 1px solid rgb(0, 0, 0);
}
.nome_exhibit{
    text-align: center;
    width: 28vw;
    height: 3.23vh;
    font-family: Montserrat, sans-serif;
    font-size: 2.5vh;
    border: 1px solid rgb(0, 0, 0);
}
.id_label{
    font-size: 1.5vh;
    font-weight: bolder;
    font-family: Roboto;
}
#excluir_operador{
    color: red;
    font-family: Roboto, sans-serif;
    font-size: 1.5vh;
    font-weight: bold;
}